[submodule "aosl"]
	path = aosl
	url = http://github.com/artofsequence/aosl.git
[submodule "player/aoswebplayer"]
	path = player/aoswebplayer
	url = https://github.com/artofsequence/aos-webplayer.git
[submodule "online/demo.artofsequence.org"]
	path = online/demo.artofsequence.org
	url = https://github.com/artofsequence/demo.artofsequence.org.git
[submodule "library/aoslcpp"]
	path = library/aoslcpp
	url = https://github.com/artofsequence/aosl-cpp.git
[submodule "library/utilcpp"]
	path = library/utilcpp
	url = https://github.com/artofsequence/utilcpp.git
[submodule "tool/aosdesigner"]
	path = tool/aosdesigner
	url = https://github.com/artofsequence/aos-designer.git
[submodule "dependencies"]
	path = dependencies
	url = https://github.com/artofsequence/aos-all-dependencies.git
