[submodule "aosl"]
	path = aosl
	url = http://github.com/artofsequence/aosl.git
[submodule "player/aoswebplayer"]
	path = player/aoswebplayer
	url = https://github.com/artofsequence/aos-webplayer.git
[submodule "online/demo.artofsequence.org"]
	path = online/demo.artofsequence.org
	url = https://github.com/artofsequence/demo.artofsequence.org.git
[submodule "library/aoslcpp"]
	path = library/aoslcpp
	url = https://github.com/artofsequence/aosl-cpp.git
